p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 15px;
}

.btn-float {
    float: left;
    margin: 0 10px 10px 0;
}

.img-small {
    width: 120px;
}